@CHARSET "ISO-8859-1";
/* @import url(http://fonts.googleapis.com/css?family=Roboto:300,400,400italic,700); */

body { 
    background: url('../img/cream_dust.png') repeat 0 0;
}

h2 { 
    text-shadow: 1px 1px 1px #ccc;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', Georgia, Times, serif;
}

p, div {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

#map {
	border: 1px solid #949494;
    box-shadow : 0 1px 5px rgba(0,0,0,0.45);
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

.ui-title {
	text-shadow: 1px 1px 1px #ccc;
}

.ui-option-method-button {
	position: relative;
    width: 20px;
    height: 20px;
    border: none;
    background: url('../img/arrow-down.png');
/*     background-color: lightgray; */
    background-position:center;
	background-repeat: no-repeat;
/* 	box-shadow : 0 1px 5px rgba(0,0,0,0.45); */
}

.ui-option-method-button-text {
	font-size: 14px !important;
/*     margin-top: 0px; */
    margin-left: 18px;
    font-weight: bold !important;
}

.jumbotron {
   background: rgb(220, 218, 218); /* This is for ie8 and below */
   background: rgba(220, 218, 218, 0.5); 
}

.ui-table-files {
	box-shadow: 0 0 1em 0em #ccc;
}

.container-narrow {
    background: url('../img/cream_dust_transparent.png') repeat 0 0;
}

.ui-principal {
	height: 600px;
	width: 800px;
	background-color: #d7ebff;
}

.ui-exportar-boto,.ui-exportar-boto2 {
	position: relative;
    padding-bottom: 15px;
    box-shadow: 0 3px 0 0 #42a0ff;
    background: #80bfff;
    border-color: transparent;
    text-shadow: 2px 2px 2px #42a0ff;
}

.ui-exportar-boto2 {
    margin-top: 20px;
}

.ui-exportar-boto:hover {
	background-color: #42a0ff;
	border-color: transparent;
	color: ;
}

.ui-canvi {
	position: relative;
	right: -137px;
}

.ui-tipus {
	position: relative;
	right: -60px;
}

.ui-seguent-boto {
	background-image: url('../img/next-icon.png');
	background-position:center;
	background-repeat: no-repeat;
}

.bk-td {
	background: #f5f5f5;
}

.ui-entrar-text {
	margin-bottom: 10px;
}

.ui-idioma-boto-ppal {
	height: 40px;
}

.ui-entrar-formulari {
	width: 180px;
	padding: 12px;
    border: 1px solid #949494;
    border-radius: 5px;
    background: #dbdbdb;
    margin-top: -33px;
    position: absolute;
    margin-left: 409px;
    z-index: 100;
    box-shadow : 0 1px 5px rgba(0,0,0,0.45);
}

.ui-entrar-formulari-boto {
	width: 50px;
	height: 30px;
}

.ui-formulari-registre-text {
	margin-bottom: 10px;
}

.ui-registre-formulari {
	padding: 12px;
    border: 1px solid #949494;
    border-radius: 5px;
    background: #dbdbdb;
    margin-left: 288px;
    margin-top: -33px;
    position: absolute;
    z-index: 100;
    box-shadow : 0 1px 5px rgba(0,0,0,0.45);
}

.ui-registre-formulari-boto {
	width: 60px;
	height: 30px;
}

.ui-importacio {
	font-weight: bold;
    padding-bottom: 7px;
}

.ui-modificacio {
	font-weight: bold;
    padding-bottom: 7px;
}

.ui-boto-pujar-fitxer {
	margin: 0 auto;
/* 	width: 117px; */
/*     height: 50px; */
/*     border-radius: 7px; */
}

.ui-file-upload-container {
	padding-bottom: 20px;
}

.ui-file-upload-container2 {
	padding-bottom: 20px;
	border: 1px solid black;
}

.fileUpload {
	width: 100px;
    height: 50px;
    border-radius: 7px;
}

.ui-opcio-a {
	font-weight: bold;
	color: #626262;
	border-bottom: 1px solid;
	padding-bottom: 17px;
}

.ui-opcio-b {
	font-weight: bold;
	color: #626262;
	border-bottom: 1px solid;
	padding-bottom: 17px;
}

.ui-importacio-text {
	padding-bottom: 7px;
}

.ui-checkbox-file {
	height: 20px;
    width: 20px;
}

.ui-map {
/* 	padding-bottom: 20px; */

}

.ui-exporta-fitxer {
	padding-top: 15px;
}

.ui-container-table {
	overflow-y: scroll;
    height: 162px;
    margin-bottom: 28px;
}

.ui-myProgress {
  width: 100%;
  height: 30px;
  position: relative;
  background-color: #ddd;
  margin-top: 20px;
}

.ui-myBar {
  background-color: #006600;
  width: 0px;
  height: 30px;
  position: absolute;
}

.ui-aplicar-canvi-boto {
	margin-right: 40px;
    box-shadow: 0 3px 0 0 #1188ff;
    background: #3399ff;
    border-color: transparent;
    text-shadow: 2px 2px 2px #0070df;
/* 	color: #333; */
}

.ui-aplicar-canvi-boto:hover {
	background-color: #0080ff;
	border-color: transparent;
}

.white-bg {
	background: rgba(255, 255, 255, 0.8) !important;
	background-size:40px 40px;
}

.ui-textarea {
	resize: none;
}

.ui-img-idioma {
	width : 20px;
	height : 20px;
/* 	background-image : url('../img/catalan_flag.png'); */
/* 	position: relative; */
/* 	display : inline-block; */
	margin-top: -3px;
}

.ui-idioma-boto {
/* 	position: relative; */
/* 	display: inline-block; */
}

.ui-nom-persona {
	display: inline-block;
}

.ui-icona-persona {
	width: 15px; /*or your image's width*/
	height: 15px; /*or your image's height*/
	margin-top: -5px;
	display: inline-block;
}

.ui-container-online {
/* 	border: 1px solid black; */
}

.ui-icona-registrar {
	margin-left: 164px;
    margin-top: -66px;
}

.ui-icona-entrar {
	margin-left: 100px;
    margin-top: -66px;
}