<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>STRIntegration</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>FonsServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.FonsServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FonsServiceServlet</servlet-name>
		<url-pattern>/FonsServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VectorialServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.VectorialServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>VectorialServiceServlet</servlet-name>
		<url-pattern>/VectorialServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CapaServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.CapaServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CapaServiceServlet</servlet-name>
		<url-pattern>/CapaServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FitxerServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.FitxerServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FitxerServiceServlet</servlet-name>
		<url-pattern>/FitxerServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IdiomaServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.IdiomaServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IdiomaServiceServlet</servlet-name>
		<url-pattern>/IdiomaServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FonsPost</servlet-name>
		<servlet-class>com.sitep.str.integration.in.FonsPost</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FonsPost</servlet-name>
		<url-pattern>/FonsPost</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsuariServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.UsuariServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UsuariServiceServlet</servlet-name>
		<url-pattern>/UsuariServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AplicarCanviServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.AplicarCanviServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AplicarCanviServiceServlet</servlet-name>
		<url-pattern>/AplicarCanviServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClientServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.ClientServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ClientServiceServlet</servlet-name>
		<url-pattern>/ClientServiceServlet</url-pattern>
	</servlet-mapping>
</web-app>
