<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>STRIntegration</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>FonsServiceController</servlet-name>
		<servlet-class>com.sitep.str.integration.in.controllers.FonsServiceController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FonsServiceController</servlet-name>
		<url-pattern>/FonsServiceController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VectorialServiceController</servlet-name>
		<servlet-class>com.sitep.str.integration.in.controllers.VectorialServiceController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>VectorialServiceController</servlet-name>
		<url-pattern>/VectorialServiceController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CapaServiceController</servlet-name>
		<servlet-class>com.sitep.str.integration.in.controllers.CapaServiceController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CapaServiceController</servlet-name>
		<url-pattern>/CapaServiceController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FitxerServiceController</servlet-name>
		<servlet-class>com.sitep.str.integration.in.controllers.FitxerServiceController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FitxerServiceController</servlet-name>
		<url-pattern>/FitxerServiceController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IdiomaServiceController</servlet-name>
		<servlet-class>com.sitep.str.integration.in.controllers.IdiomaServiceController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IdiomaServiceController</servlet-name>
		<url-pattern>/IdiomaServiceController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FonsPost</servlet-name>
		<servlet-class>com.sitep.str.integration.in.FonsPost</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FonsPost</servlet-name>
		<url-pattern>/FonsPost</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsuariServiceController</servlet-name>
		<servlet-class>com.sitep.str.integration.in.controllers.UsuariServiceController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UsuariServiceController</servlet-name>
		<url-pattern>/UsuariServiceController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AplicarCanviServiceController</servlet-name>
		<servlet-class>com.sitep.str.integration.in.controllers.AplicarCanviServiceController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AplicarCanviServiceController</servlet-name>
		<url-pattern>/AplicarCanviServiceController</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ClientServiceController</servlet-name>
		<servlet-class>com.sitep.str.integration.in.controllers.ClientServiceController</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ClientServiceController</servlet-name>
		<url-pattern>/ClientServiceController</url-pattern>
	</servlet-mapping>
</web-app>
