<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

	<display-name>STRIntegration</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>FonsOfflineServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.FonsOfflineServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FonsOfflineServiceServlet</servlet-name>
		<url-pattern>/FonsOfflineServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CarregadorDeFitxersVectorialsServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.CarregadorDeFitxersVectorialsServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CarregadorDeFitxersVectorialsServiceServlet</servlet-name>
		<url-pattern>/CarregadorDeFitxersVectorialsServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CapaOfflineServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.CapaOfflineServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CapaOfflineServiceServlet</servlet-name>
		<url-pattern>/CapaOfflineServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ImportarFitxerServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.ImportarFitxerServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ImportarFitxerServiceServlet</servlet-name>
		<url-pattern>/ImportarFitxerServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>IdiomaServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.IdiomaServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>IdiomaServiceServlet</servlet-name>
		<url-pattern>/IdiomaServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>FonsOfflinePost</servlet-name>
		<servlet-class>com.sitep.str.integration.in.FonsOfflinePost</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FonsOfflinePost</servlet-name>
		<url-pattern>/FonsOfflinePost</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsuariServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.UsuariServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UsuariServiceServlet</servlet-name>
		<url-pattern>/UsuariServiceServlet</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AplicarCanviServiceServlet</servlet-name>
		<servlet-class>com.sitep.str.integration.in.servlets.AplicarCanviServiceServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AplicarCanviServiceServlet</servlet-name>
		<url-pattern>/AplicarCanviServiceServlet</url-pattern>
	</servlet-mapping>
</web-app>
